* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white
}

nav {
    height: 100px;
    background-color: rgb(58, 58, 58);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-size: 20px;
    text-decoration: none;
}

nav .logo {
    height: 7.2em;
    margin-top: 30px;;
  
}

nav button {
    background-color: rgb(124, 124, 124);
    padding: 8px 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 6px;
    box-shadow: ;
}

nav button img {

    margin-left: .4em;
    width: 30px;
    height: 30px;
    
}