* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6f3f2;
}

.lastest-article,
.sect-2-top > p:nth-child(2),
.next-page a {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 100px;
  background-color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-links {
  padding: 13px 15px;
  background-color: rgb(124, 124, 124);
  border-radius: 6px;
}

/* 
.nav-links:hover {
  background-color: rgb(124, 124, 124);
} */

nav a,
button {
  font-size: 20px;
  text-decoration: none;
  color: transparent;
}

nav .logo {
  height: 7.2em;
  margin-top: 30px;
}

nav button {
  background-color: rgb(124, 124, 124);
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: transparent;
  border-radius: 6px;
  box-shadow: 0 4px 4px 4px rgba(68, 68, 68, 0.7);
}

/* nav button:hover {
  background-color: rgb(109, 109, 109);
} */

nav button img {
  margin-left: 0.4em;
  width: 30px;
  height: 30px;
}

nav .serchbar {
  width: 250px;
  display: flex;
  align-items: center;
}

.serchbar input {
  width: 100%;
  padding: 12px 12px 14px 48px;
  font-size: 20px;
  border-radius: 8px;
  color: white;
}

.serchbar input:active,
.serchbar input:focus,
.common-btn:active,
.common-btn:focus,
nav button:focus,
nav button:active {
  outline: none;
}
.serchbar i {
  font-size: 22px;
  margin-right: -40px;
  z-index: 10;
  color: rgb(78, 78, 78);
  background-color: rgb(78, 78, 78);
}

/* main */

.lastest-article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - 100px);
}

.lastest-article h1 span {
  margin-left: 15px;
  font-size: 1.4rem;
  color: rgb(224, 224, 224);
  background-color: rgb(224, 224, 224);
  font-weight: 400;
}

.article-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  padding: 200px 100px 0;
}

.item-1,
.item-3 {
  background-color: rgb(68, 68, 68);
}

.item-2 {
  background-color: rgb(85, 85, 85);
  position: relative;
}

.call-to-action {
  width: 65%;
  top: 4%;
  position: absolute;
}

.featured-articles__teaser {
  top: 3%;
  position: absolute;
  text-align: center;
}

.featured-articles__teaser span {
  background-color: #fff;
  padding: 10px 20px;
  line-height: 1.5em;
  color: #121;
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: -1px;
}

.article-item ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin-top: 60px;
  list-style: none;
}

.article-item li {
  margin-right: 30px;
}

.article-item li a {
  font-size: 2rem;
  color: rgb(202, 202, 202);
  background-color: rgb(202, 202, 202);
  text-decoration: none;
}

.article-item li i {
  font-size: 1.8rem;
  background-color: rgb(39, 39, 39);
  color: rgb(39, 39, 39);
}

.article-tag-count {
  color: rgb(202, 202, 202);
  background-color: rgb(202, 202, 202);
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  top: -0.3rem;
  left: 0.4rem;
}

.article-item h1 > a {
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  text-decoration: none;
  background-color: rgb(219, 219, 219);
  color: rgb(219, 219, 219);
}

.arrow {
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100px;
}

/* .latest-article-section img {
  max-width: 70px;
  max-height: 70px;
  border: 5px solid #fff;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  transform: rotateZ(-15deg);
  transition: transform 0.2s ease-out;
  background-color: lightgray;
} */

.img-placeholder {
  width: 70px;
  height: 70px;
  border: 5px solid rgb(128, 128, 128);
  border-radius: 8px;
  background-color: rgb(233, 233, 233);
  transform: rotateZ(-15deg);
}

/* .article-item img:hover, */
.img-placeholder:hover {
  transform: rotateZ(0deg);
}

.article-item section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.latest-article-section h3 {
  line-height: 36px;
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
  background-color: white;
}

.latest-article-section span {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
}

.article-section-2 {
  display: flex;
  height: 640px;
  padding-top: 70px;
  background-color: #f6f3f2;
}

.sect-2-art-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
}
.sect-2-top > p:nth-child(1) {
  text-transform: uppercase;
  background-color: rgb(148, 148, 148);
  color: rgb(148, 148, 148);
  display: inline-block;
  margin-bottom: 15px;
}

.sect-2-top > p:nth-child(2) {
  font-size: 3rem;
  line-height: 36px;
  font-weight: 700;
  padding-top: 10px;
  color: rgb(68, 68, 68);
  background-color: rgb(68, 68, 68);
}

.sect-2-top h3 {
  padding: 18px 0;
  font-size: 18px;
  color: #777;
  background-color: #777;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.sect-2-top > p:nth-child(4) {
  font-size: 22px;
  line-height: 36px;
  color: rgb(122, 122, 122);
  background-color: rgb(122, 122, 122);
}

.arrow2 {
  font-size: 20px;
  color: #121;
  background-color: #121;
  width: 100px;
  bottom: 20px;
}

.article-sec-3 {
  padding: 70px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  background-color: #f6f3f2;
}

.feature-ad {
  padding: 20px;
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 700px;
}

.featured-ad-img {
  width: 30%;
  height: 35%;
  border-radius: 100%;
  background-color: lightgray;
}

/* .feature-ad img {
  width: 30%;
  height: auto;
} */

.feature-ad h1 {
  font-size: 4rem;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.feature-ad h1,
.feature-ad p {
  margin-top: -40px;
}

.feature-ad p {
  font-size: 2rem;
  text-align: center;
  width: 550px;
  line-height: 3rem;
  background-color: rgb(212, 212, 212);
  color: rgb(212, 212, 212);
}

.common-btn {
  background-color: #f6f3f2;
  color: rgb(136, 136, 136);
  background-color: rgb(136, 136, 136);
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
}

.feature-ad small {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  margin-top: -60px;
  color: white;
  background-color: white;
}

.feature-ad small a {
  font-size: 1.6rem;
  color: rgb(219, 219, 219);
  background-color: rgb(219, 219, 219);
}

.article-sec-3 article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next-page {
  text-align: center;
  background-color: #f6f3f2;
  padding: 100px 0;
}

.next-page a {
  text-decoration: none;
  color: #121;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid #121;
}

.shipping-info {
  min-height: 100vh;
  background-color: rgb(49, 49, 49);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}

.shipping-info header p {
  font-size: 1.7rem;
  margin-bottom: 50px;
}

.shipping-info h1 {
  margin-bottom: 50px;
  line-height: 6rem;
}

.shipping-info h1 a {
  color: rgb(233, 233, 233);
  font-size: 4.5rem;
}

.shipping-info .description {
  font-size: 2.2rem;
  width: 900px;
  font-weight: 300;
  line-height: 3.5rem;
  margin-bottom: 50px;
}

.description strong {
  font-size: 2rem;
  font-weight: bold;
}

.shipping-info button {
  margin-bottom: 60px;
}

.shipping-cat {
  width: 50%;
}

.more-links,
.featured-book {
  padding: 60px 40px;
}

.more-links-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 250px);
  row-gap: 35px;
  column-gap: 30px;
  grid-template-areas:
    "top-author top-author"
    "author1 author2"
    "author3 author4"
    "author5 author6";
}

.top-author {
  grid-area: top-author;
}

.author-1 {
  grid-area: author1;
}

.author-2 {
  grid-area: author2;
}

.author-3 {
  grid-area: author3;
}

.author-4 {
  grid-area: author4;
}

.author-5 {
  grid-area: author5;
}
.author-6 {
  grid-area: author6;
}

.more-links img {
  border: 5px solid #000;
  border-radius: 10px;
  transform: rotateZ(-15deg);
  transition: transform 0.2s ease-in-out;
  margin-right: 30px;
}

.more-links img:hover {
  transform: rotateZ(0deg);
  transition: transform 0.2s ease-in-out;
}

.more-links img:not(.top-author-img) {
  max-width: 75px;
  max-height: 75px;
}

.more-links .top-author-img {
  width: 200px;
  height: 200px;
}

.top-author,
.author-1,
.author-2,
.author-3,
.author-4,
.author-5,
.author-6 {
  display: flex;
}

.more-links-grid h1 {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.top-author p {
  font-size: 2.2rem;
  line-height: 3.5rem;
  margin-top: 30px;
}

.right-content h4,
.right-content h4 a {
  font-size: 1.8rem;
  color: rgb(110, 110, 110);
}

.author-info {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  color: rgb(82, 82, 82);
}

.featured-book {
  background-color: rgb(49, 49, 49);
  color: #fff;
  position: relative;
}

.feature-book-img {
  width: 256px;
  height: 373px;
  position: absolute;
  right: 150px;
  top: -100px;
  transform: rotateZ(-15deg);
  transition: transform 0.3s ease-in-out;
}

.feature-book-img:hover {
  transform: rotateZ(0deg);
  transition: transform 0.3s ease-in-out;
}

.featured-book h3 {
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.featured-book h1 {
  font-size: 4.7rem;
  line-height: 5.7rem;
  font-weight: 700;
  padding-bottom: 40px;
}

.featured-book p {
  max-width: 65%;
  font-size: 2.2rem;
  line-height: 3.7rem;
  font-weight: 400;
  padding-bottom: 50px;
}

.smashing-guide {
  padding: 50px 60px;
}

.guide-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.newsletter-contianer {
  background-color: rgb (89, 89, 89);
}

.newsletter-sec {
  margin: 50px auto;
  color: #fff;
  padding: 0 40px;
  align-items: center;
  max-width: 45%;
  background-color: rgb(49, 49, 49);
  border-radius: 15px;
}

.newsletter-sec img {
  width: 100%;
  max-width: 450px;
  border-radius: 50%;
}

.newsletter-sec h1 {
  font-size: 4.7rem;
  line-height: 5.7rem;
  font-weight: 700;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 55px;
  border-radius: 5px;
}

.newsletter-sec p {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 37px;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 55px;
  border-radius: 10px;
}

.email {
  background-color: #fff;
  height: 55px;
  margin-bottom: 55px;
  border-radius: 10px;
}

.newsletter-sec p:nth-child(5) {
  max-width: 75%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
